# Realizando a limpeza de dados de todos os datasets- caso necessário

## Link para o notebook principal

[Ir para main.ipynb](./main.ipynb)

## Índice

- [Importando Pacotes e Bibliotecas](#importando-os-pacotes-e-bibliotecas)
- [Importando os Datasets](#importando-os-datasets)
- [Análise dos Datasets](#analise-inicial-dos-datasets)
    - [Consumo Residencial por UF](#consumo-residencial-por-uf)

## Importando Pacotes e Bibliotecas

In [ ]:
## Impressao de Graficos
from matplotlib import pyplot as plt
import seaborn as sns

## Bibliotecas Base
import pandas as pd
import numpy as np

## Importando os datasets

In [ ]:
df_residencial_raw = pd.read_csv("./databases/raw/CONSUMO MENSAL DE ENERGIA ELÉTRICA POR CLASSE - CONSUMO COMERCIAL POR UF.csv", sep = ",", index_col = 0)

## Analise Inicial dos Datasets

### Consumo Residencial por UF

In [ ]:
df_residencial_raw.sample(10)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
Empresa de Pesquisa Energética - EPE,,,,,,,,,,,,,,,,,,,,,
Mato Grosso,64.699,65.905,74.538,77.146,68.100,61.587,66.190,62.202,69.190,72.326,...,164.770,161.940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,...,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
Rio Grande do Norte,41.973,37.909,41.133,43.495,41.067,41.715,39.380,40.479,41.184,42.784,...,95.051,95.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraíba,35.917,32.453,34.378,35.924,33.864,33.950,32.155,31.641,35.194,34.712,...,94.813,96.817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Sul,276.902,285.451,283.818,297.774,266.991,245.687,251.824,248.318,251.759,248.016,...,535.528,506.310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraná,257.033,269.481,268.151,275.652,267.628,239.079,238.401,249.298,264.561,255.562,...,702.042,663.592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rondônia,25.870,23.367,24.153,24.113,25.789,24.112,24.312,25.604,25.980,27.250,...,64.375,67.186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roraima,6.141,5.822,5.494,6.035,5.548,5.472,5.876,5.820,5.652,5.980,...,26.157,26.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pará,78.075,72.467,75.857,78.779,79.714,82.470,79.919,83.589,83.100,82.032,...,195.932,196.144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ceará,95.718,86.036,90.007,97.130,90.758,93.769,87.315,92.398,97.622,93.272,...,198.606,210.942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Quantidade de valores nulos

In [ ]:
df_residencial_transposto = df_residencial_raw.transpose()
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,Consumo de energia elétrica na rede (MWh),Sistema SIMPLES,NaN,NaN,NaN,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,...,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal,Nota: atualização defasada para não antecipar informações de distribuidoras que devem obedecer às intruções da CVM sobre publicação de resultados.
Unnamed: 146,NaN,NaN,NaN,NaN,FEV,7.714.336,52.199,19.568,106.846,16.653,...,934.857,2.493.505,531.939,381.380,481.190,107.263,141.607,189.318,166.111,NaN
Unnamed: 152,NaN,NaN,NaN,NaN,AGO,6.749.563,57.096,21.601,108.282,17.422,...,782.348,2.104.782,447.031,281.536,366.845,90.689,132.032,179.428,163.268,NaN
Unnamed: 104,NaN,NaN,NaN,NaN,AGO,6.303.157,55.764,16.380,102.290,11.844,...,787.420,2.003.427,426.382,269.386,381.650,80.760,112.079,159.762,155.833,NaN
Unnamed: 70,NaN,NaN,NaN,NaN,OUT,5.493.177,38.114,12.083,79.026,9.774,...,675.759,1.847.923,349.352,206.171,314.549,62.423,94.274,154.123,137.634,NaN
Unnamed: 103,NaN,NaN,NaN,NaN,JUL,6.033.383,46.728,15.582,97.478,11.424,...,741.606,1.921.554,393.085,255.819,373.098,69.974,113.124,166.904,150.683,NaN
Unnamed: 130,NaN,NaN,NaN,NaN,OUT,7.615.292,58.201,20.820,113.746,16.590,...,910.775,2.489.951,493.331,314.553,420.819,108.230,152.280,211.597,186.377,NaN
Unnamed: 54,NaN,NaN,NaN,NaN,JUN,4.829.191,30.951,9.594,63.604,7.791,...,605.538,1.601.754,316.489,192.114,300.483,47.330,81.021,139.509,114.039,NaN
Unnamed: 137,NaN,NaN,NaN,NaN,MAI,7.363.736,52.049,17.937,110.278,15.060,...,893.693,2.391.126,472.437,313.498,417.410,95.276,133.454,198.388,172.440,NaN
Unnamed: 214,NaN,NaN,NaN,NaN,OUT,7.489.159,61.321,24.266,126.744,21.978,...,730.244,2.333.937,515.523,357.982,363.072,101.138,156.992,228.171,174.649,NaN
Unnamed: 84,NaN,NaN,NaN,NaN,DEZ,6.305.473,42.160,12.346,81.054,10.205,...,811.233,2.108.546,396.067,249.973,387.416,75.344,97.578,161.570,149.745,NaN

In [ ]:
columns_to_be_droped = [
    "Consumo de energia elétrica na rede (MWh)",
    "Sistema SIMPLES",
    "Nota: atualização defasada para não antecipar informações de distribuidoras que devem obedecer às intruções da CVM sobre publicação de resultados.",
    "TOTAL POR UF"
]

In [ ]:
df_residencial_transposto.drop(columns = columns_to_be_droped, inplace = True, axis = "columns")
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,NaN,NaN,NaN,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 185,NaN,NaN,MAI,58.945,21.979,112.602,17.483,154.674,21.574,38.328,...,152.802,897.422,2.519.082,504.752,357.955,413.988,102.598,152.355,210.947,172.317
Unnamed: 212,NaN,NaN,AGO,57.865,21.508,155.641,19.799,181.712,24.677,36.925,...,129.759,678.401,2.036.757,488.979,345.788,371.393,89.229,141.852,182.953,155.737
Unnamed: 127,NaN,NaN,JUL,50.952,17.265,108.565,13.716,143.393,20.408,33.446,...,134.158,809.333,2.209.235,439.147,283.884,397.068,83.261,126.004,165.113,161.102
Unnamed: 107,NaN,NaN,NOV,56.362,17.220,102.574,13.698,130.320,19.684,29.938,...,140.799,861.010,2.353.543,460.512,299.496,422.218,94.866,121.708,190.563,176.733
Unnamed: 136,NaN,NaN,ABR,53.460,18.960,109.084,16.211,127.765,20.662,34.840,...,160.274,970.970,2.598.202,530.812,365.028,483.143,107.193,144.484,205.112,171.004
Unnamed: 16,NaN,NaN,ABR,26.397,7.587,55.001,6.593,80.300,9.605,15.862,...,94.214,655.122,1.598.831,303.092,195.076,292.785,59.365,85.785,108.313,99.922
Unnamed: 67,NaN,NaN,JUL,34.395,10.281,69.046,8.304,105.540,12.548,21.435,...,106.340,641.927,1.629.639,325.156,197.022,310.640,53.036,90.384,140.624,120.936
Unnamed: 79,NaN,NaN,JUL,40.912,11.818,77.467,8.921,110.702,14.046,23.369,...,102.297,621.335,1.707.790,348.884,211.556,333.462,59.684,91.227,142.565,125.603
Unnamed: 219,NaN,NaN,MAR,57.027,21.459,116.136,21.776,174.725,21.185,37.432,...,186.197,885.251,2.596.482,620.818,490.652,484.736,122.059,165.366,220.280,169.714
Unnamed: 31,NaN,NaN,JUL,30.472,9.341,59.619,6.062,86.599,9.671,16.431,...,82.697,552.084,1.443.154,264.781,168.342,264.047,48.172,71.540,96.527,93.021

## Renomeando colunas que não possuiam nomes

In [ ]:
columns_to_rename = pd.Series(df_residencial_transposto.columns)
columns_to_rename = columns_to_rename.fillna("new_name" + (columns_to_rename.groupby(columns_to_rename.isnull()).cumcount() + 1).astype(str))
df_residencial_transposto.columns = columns_to_rename
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,new_name1,new_name2,new_name3,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 102,NaN,NaN,JUN,49.920,15.402,97.683,12.119,123.534,18.578,27.880,...,132.348,750.148,2.061.323,398.117,259.396,378.414,72.412,106.109,171.751,160.793
Unnamed: 252,NaN,NaN,DEZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 151,NaN,NaN,JUL,53.228,20.506,109.691,15.431,165.613,21.744,34.978,...,128.671,770.328,2.126.062,442.577,282.047,374.636,80.343,127.107,180.837,160.406
Unnamed: 246,NaN,NaN,JUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 99,NaN,NaN,MAR,53.988,14.916,99.293,12.012,116.883,14.702,25.927,...,149.114,869.194,2.302.532,474.064,350.413,483.056,89.904,118.815,173.508,155.808
Unnamed: 211,NaN,NaN,JUL,53.407,18.721,118.203,19.082,175.964,22.348,35.797,...,127.647,656.357,2.030.064,449.037,340.851,361.621,77.958,135.762,185.189,145.105
Unnamed: 27,NaN,NaN,MAR,27.565,8.610,52.198,6.592,84.087,8.771,15.933,...,103.277,680.072,1.671.868,302.344,215.457,314.610,56.719,85.150,105.901,100.264
Unnamed: 61,NaN,2009,JAN,33.013,10.485,64.356,8.406,100.483,12.735,19.751,...,113.663,687.639,1.754.774,346.211,233.392,361.194,63.037,86.497,141.827,121.515
Unnamed: 46,NaN,NaN,OUT,33.185,10.516,64.729,7.733,98.611,11.488,19.781,...,99.490,620.011,1.658.788,318.532,188.040,291.635,58.495,85.887,128.041,112.019
Unnamed: 42,NaN,NaN,JUN,30.746,8.845,63.666,7.022,95.474,10.952,18.988,...,95.068,577.943,1.559.608,294.247,174.883,283.037,46.731,73.861,107.700,108.560

### Excluindo coluna insignificante

In [ ]:
df_residencial_transposto.drop(columns = ["new_name1"], inplace = True, axis = "columns")
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,new_name2,new_name3,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 165,NaN,SET,59.221,24.179,103.601,17.756,166.224,22.228,38.244,111.632,...,130.591,776.825,2.291.476,485.637,309.733,392.717,110.540,153.645,201.055,163.635
Unnamed: 90,NaN,JUN,44.253,12.178,84.401,10.164,123.278,16.275,26.656,73.557,...,113.174,666.181,1.881.431,382.889,244.197,348.720,65.347,98.788,151.096,143.378
Unnamed: 185,NaN,MAI,58.945,21.979,112.602,17.483,154.674,21.574,38.328,102.382,...,152.802,897.422,2.519.082,504.752,357.955,413.988,102.598,152.355,210.947,172.317
Unnamed: 210,NaN,JUN,55.541,22.396,112.874,18.443,174.343,22.804,36.173,102.566,...,132.117,695.489,2.096.848,453.751,336.145,354.024,82.571,144.453,192.562,159.452
Unnamed: 27,NaN,MAR,27.565,8.610,52.198,6.592,84.087,8.771,15.933,43.529,...,103.277,680.072,1.671.868,302.344,215.457,314.610,56.719,85.150,105.901,100.264
Unnamed: 208,NaN,ABR,53.960,18.971,102.995,19.076,154.590,23.014,35.044,99.700,...,138.095,772.565,2.304.667,530.641,413.392,409.144,107.610,132.349,196.448,152.407
Unnamed: 9,NaN,SET,25.980,8.309,55.148,5.652,83.100,8.850,17.041,44.972,...,78.583,537.621,1.430.716,264.561,148.465,251.759,51.954,69.190,97.105,98.068
Unnamed: 74,NaN,FEV,34.369,11.493,70.581,7.957,98.227,13.927,22.319,60.381,...,126.726,786.267,1.946.614,408.750,262.109,392.877,69.830,92.831,156.760,132.232
Unnamed: 137,NaN,MAI,52.049,17.937,110.278,15.060,135.447,20.342,34.320,100.582,...,145.355,893.693,2.391.126,472.437,313.498,417.410,95.276,133.454,198.388,172.440
Unnamed: 156,NaN,DEZ,53.416,22.449,72.730,17.650,168.023,21.357,34.614,108.458,...,151.880,914.817,2.393.933,478.063,329.071,448.949,101.818,132.607,184.996,175.123

### Renomeando colunas "ano" e "mês"

In [ ]:
columns_to_rename = {
    "new_name2" : "ano",
    "new_name3" : "mes"
}

df_residencial_transposto.rename(mapper = columns_to_rename, axis = "columns", inplace = True)
df_residencial_transposto.head(5)

Empresa de Pesquisa Energética - EPE,ano,mes,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 1,2004,JAN,25.870,7.895,49.832,6.141,78.075,12.164,13.832,40.478,...,84.820,567.235,1.464.892,257.033,170.067,276.902,51.890,64.699,97.266,93.427
Unnamed: 2,NaN,FEV,23.367,7.329,50.457,5.822,72.467,3.894,12.160,37.893,...,83.917,594.478,1.421.228,269.481,178.963,285.451,52.518,65.905,90.106,81.618
Unnamed: 3,NaN,MAR,24.153,7.420,47.374,5.494,75.857,8.639,13.819,40.878,...,86.051,585.939,1.416.476,268.151,186.488,283.818,51.766,74.538,96.474,84.322
Unnamed: 4,NaN,ABR,24.113,7.345,49.875,6.035,78.779,8.461,14.883,40.503,...,83.633,600.339,1.579.356,275.652,170.145,297.774,55.175,77.146,102.078,94.761
Unnamed: 5,NaN,MAI,25.789,7.142,50.280,5.548,79.714,7.704,15.465,42.202,...,82.244,564.569,1.386.690,267.628,161.961,266.991,49.652,68.100,95.321,90.165

### Preenchendo a coluna "ano" com valores corretos do ano

In [ ]:
df_residencial_transposto["ano"] = df_residencial_transposto["ano"].ffill()

## Transformando colunas importantes em Índice

In [ ]:
df_residencial_transposto["ano"].unique()

array(['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2024*'], dtype=object)

In [ ]:
df_residencial_transposto["mes"].unique()

array(['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET',
       'OUT', 'NOV', 'DEZ'], dtype=object)

In [ ]:
df_residencial_transposto.columns

Index(['ano', 'mes', 'Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará',
       'Amapá', 'Tocantins', 'Maranhão', 'Piauí', 'Ceará',
       'Rio Grande do Norte', 'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe',
       'Bahia', 'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro',
       'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype='object', name='Empresa de Pesquisa Energética - EPE')

In [ ]:
df_residencial_transposto.reset_index(inplace = True)
df_residencial_transposto["ano"] = df_residencial_transposto["ano"].astype("str")
df_residencial_transposto["mes"] = df_residencial_transposto["mes"].astype("str")
df_residencial_transposto.set_index(["ano", "mes"], inplace = True)
df_residencial_transposto.drop(columns = ["index"], axis = "columns", inplace = True)

In [ ]:
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE Rondônia    Acre Amazonas Roraima  \
ano  mes
2005 ABR                               26.397   7.587   55.001   6.593
2018 SET                               55.864  19.219  107.012  17.759
2005 MAI                               27.307   7.567   52.808   6.382
2010 MAR                               36.503  10.884   70.211   9.187
2013 NOV                               53.027  16.984  109.600  13.346
2016 ABR                               53.620  19.787  107.748  16.871
2017 SET                               59.221  24.179  103.601  17.756
2013 AGO                               50.027  15.395  108.376  12.683
     JAN                               46.995  16.078   98.262  12.396
2008 JAN                               29.894   9.703   61.063   7.682

Empresa de Pesquisa Energética - EPE     Pará   Amapá Tocantins Maranhão  \
ano  mes
2005 ABR                               80.300   9.605    15.862   43.949
2018 SET                              162.712  22.630    37.406  107.188
2005 MAI                               83.797   8.551    16.410   45.269
2010 MAR                              112.369  13.666    23.831   68.350
2013 NOV                              140.934  22.967    37.620   95.849
2016 ABR                              137.474  20.470    36.039  100.489
2017 SET                              166.224  22.228    38.244  111.632
2013 AGO                              141.526  18.219    32.069   91.582
     JAN                              125.851  19.815    27.664   81.639
2008 JAN                               92.432  11.356    18.483   51.470

Empresa de Pesquisa Energética - EPE   Piauí    Ceará  ... Espírito Santo  \
ano  mes                                               ...
2005 ABR                              24.227   98.830  ...         94.214
2018 SET                              71.905  161.877  ...        124.329
2005 MAI                              25.040  100.472  ...         86.931
2010 MAR                              34.578  138.696  ...        123.780
2013 NOV                              54.481  186.830  ...        147.252
2016 ABR                              59.598  190.823  ...        166.011
2017 SET                              69.247  190.149  ...        130.591
2013 AGO                              52.809  168.367  ...        139.785
     JAN                              48.239  164.701  ...        158.247
2008 JAN                              31.131  118.417  ...        114.890

Empresa de Pesquisa Energética - EPE Rio de Janeiro  São Paulo   Paraná  \
ano  mes
2005 ABR                                    655.122  1.598.831  303.092
2018 SET                                    763.390  2.279.357  466.343
2005 MAI                                    596.689  1.484.175  270.312
2010 MAR                                    803.336  2.021.962  398.905
2013 NOV                                    860.899  2.462.167  479.215
2016 ABR                                    992.487  2.635.436  537.999
2017 SET                                    776.825  2.291.476  485.637
2013 AGO                                    780.516  2.068.582  455.781
     JAN                                    921.196  2.324.194  458.842
2008 JAN                                    708.970  1.712.535  334.047

Empresa de Pesquisa Energética - EPE Santa Catarina Rio Grande do Sul  \
ano  mes
2005 ABR                                    195.076           292.785
2018 SET                                    307.185           372.050
2005 MAI                                    171.446           271.163
2010 MAR                                    285.548           407.398
2013 NOV                                    311.677           428.509
2016 ABR                                    382.646           462.774
2017 SET                                    309.733           392.717
2013 AGO                                    278.257           404.969
     JAN                                    331.329           470.456
2008 JAN                                    223.338           360.013

Empresa de Pesquisa Energética - EPE Mato Grosso do Sul Mato Grosso    Goiás  \
ano  mes
2005 ABR                                         59.365      85.785  108.313
2018 SET                                         89.935     142.041  208.359
2005 MAI                                         53.804      77.852  101.482
2010 MAR                                         74.204     108.259  157.397
2013 NOV                                         97.547     133.681  199.184
2016 ABR                                        111.005     147.845  213.946
2017 SET                                        110.540     153.645  201.055
2013 AGO                                         86.111     119.864  183.617
     JAN                                         93.110     113.893  182.339
2008 JAN                                         57.047      78.655  118.650

Empresa de Pesquisa Energética - EPE Distrito Federal
ano  mes
2005 ABR                                       99.922
2018 SET                                      168.986
2005 MAI                                       92.367
2010 MAR                                      138.439
2013 NOV                                      181.681
2016 ABR                                      183.090
2017 SET                                      163.635
2013 AGO                                      166.481
     JAN                                      166.445
2008 JAN                                      113.960

[10 rows x 27 columns]

### Deletando a linha NaN do índice

In [ ]:
df_residencial_processed = df_residencial_transposto.iloc[ : df_residencial_transposto.shape[0] - 12, :]
df_residencial_processed.tail(20)

Empresa de Pesquisa Energética - EPE Rondônia    Acre Amazonas Roraima  \
ano  mes
2022 MAI                               60.023  22.062   93.340  20.905
     JUN                               55.906  20.726  110.633  20.277
     JUL                               58.845  22.736  125.392  20.642
     AGO                               62.511  22.869  135.581  23.444
     SET                               63.313  22.775  134.471  23.988
     OUT                               63.402  23.731  132.866  24.426
     NOV                               60.625  22.916  130.245  22.875
     DEZ                               63.862  22.562  125.544  22.698
2023 JAN                               57.347  21.636  119.195  22.579
     FEV                               54.871  20.649  110.512  21.194
     MAR                               61.713  22.479  125.556  24.873
     ABR                               59.678  21.441  123.118  23.108
     MAI                               63.534  22.452  133.650  23.453
     JUN                               63.088  21.567  132.674  22.501
     JUL                               60.077  22.285  138.483  22.241
     AGO                               65.204  24.295  148.584  26.455
     SET                               68.834  25.331  147.337  26.748
     OUT                               67.340  25.390  146.305  26.993
     NOV                               69.317  25.277  140.994  26.314
     DEZ                               68.373  24.610  133.602  24.974

Empresa de Pesquisa Energética - EPE     Pará   Amapá Tocantins Maranhão  \
ano  mes
2022 MAI                              179.501  21.565    39.406   95.508
     JUN                              182.373  22.355    39.379   93.184
     JUL                              184.979  22.587    39.051   93.368
     AGO                              193.527  23.411    40.429  100.982
     SET                              196.497  25.103    42.666  100.815
     OUT                              196.761  26.246    43.725  101.912
     NOV                              187.033  23.196    39.280   99.693
     DEZ                              186.473  23.793    37.600  100.793
2023 JAN                              176.755  21.309    34.738   93.891
     FEV                              168.418  18.451    35.098   89.814
     MAR                              194.433  22.387    39.935   97.012
     ABR                              184.017  22.833    37.873   93.987
     MAI                              189.880  23.913    40.181  104.726
     JUN                              197.274  25.023    41.039  103.675
     JUL                              198.387  25.092    40.260  105.214
     AGO                              206.946  30.217    41.552  109.107
     SET                              207.992  25.102    43.376  108.778
     OUT                              213.696  27.594    44.697  113.651
     NOV                              218.560  27.976    43.095  111.837
     DEZ                              206.848  27.175    43.730  111.114

Empresa de Pesquisa Energética - EPE   Piauí    Ceará  ... Espírito Santo  \
ano  mes                                               ...
2022 MAI                              70.954  184.875  ...        154.090
     JUN                              69.828  191.863  ...        137.109
     JUL                              70.545  181.182  ...        131.802
     AGO                              71.933  185.456  ...        141.382
     SET                              77.695  190.513  ...        136.535
     OUT                              78.215  189.588  ...        150.188
     NOV                              73.635  195.777  ...        152.476
     DEZ                              74.491  195.558  ...        156.328
2023 JAN                              68.590  200.843  ...        164.737
     FEV                              64.915  196.893  ...        174.009
     MAR                              71.124  179.686  ...        190.900
     ABR                              69.513  198.290  ...        174.060
     MAI                              74.618  193.551  ...        160.151
     JUN                              73.832  209.262  ...        150.047
     JUL                              74.616  187.632  ...        144.765
     AGO                              79.158  201.380  ...        156.953
     SET                              84.283  201.891  ...        159.963
     OUT                              85.288  200.356  ...        182.478
     NOV                              84.302  215.924  ...        187.424
     DEZ                              81.191  212.461  ...        202.354

Empresa de Pesquisa Energética - EPE Rio de Janeiro  São Paulo   Paraná  \
ano  mes
2022 MAI                                    766.995  2.399.989  507.105
     JUN                                    693.639  2.212.539  489.848
     JUL                                    686.866  2.216.133  514.591
     AGO                                    690.904  2.262.362  530.176
     SET                                    693.922  2.320.905  503.724
     OUT                                    707.229  2.258.145  510.297
     NOV                                    758.398  2.413.940  524.017
     DEZ                                    800.252  2.517.700  560.955
2023 JAN                                    792.826  2.548.374  577.695
     FEV                                    836.768  2.557.049  592.226
     MAR                                    888.839  2.632.175  632.260
     ABR                                    830.441  2.768.647  614.472
     MAI                                    760.788  2.429.180  538.762
     JUN                                    713.134  2.394.251  518.358
     JUL                                    686.824  2.255.060  524.302
     AGO                                    725.866  2.353.777  568.289
     SET                                    763.389  2.522.288  584.130
     OUT                                    775.665  2.668.137  609.710
     NOV                                    829.114  2.740.502  606.413
     DEZ                                    870.060  2.894.269  642.474

Empresa de Pesquisa Energética - EPE Santa Catarina Rio Grande do Sul  \
ano  mes
2022 MAI                                    388.556           383.942
     JUN                                    364.369           382.844
     JUL                                    364.095           387.416
     AGO                                    370.186           382.543
     SET                                    360.176           373.497
     OUT                                    370.528           367.925
     NOV                                    393.175           394.981
     DEZ                                    443.195           478.772
2023 JAN                                    463.513           486.490
     FEV                                    514.240           517.115
     MAR                                    526.341           501.375
     ABR                                    487.267           499.426
     MAI                                    428.656           412.823
     JUN                                    403.190           402.681
     JUL                                    378.578           394.152
     AGO                                    378.298           397.035
     SET                                    392.075           394.200
     OUT                                    421.339           393.991
     NOV                                    415.012           420.461
     DEZ                                    486.573           490.987

Empresa de Pesquisa Energética - EPE Mato Grosso do Sul Mato Grosso    Goiás  \
ano  mes
2022 MAI                                         92.063     152.498  234.778
     JUN                                         77.987     146.694  215.660
     JUL                                         90.823     146.942  210.970
     AGO                                        103.458     145.534  212.732
     SET                                        102.407     147.509  218.587
     OUT                                        116.710     148.559  231.036
     NOV                                        116.609     143.855  228.505
     DEZ                                         98.616     146.993  222.807
2023 JAN                                        101.008     136.436  208.186
     FEV                                        106.670     145.345  209.090
     MAR                                        113.722     166.660  224.222
     ABR                                        112.596     157.487  239.578
     MAI                                         88.351     151.251  222.093
     JUN                                         77.641     140.848  217.487
     JUL                                         75.776     137.558  206.186
     AGO                                         98.169     152.378  219.637
     SET                                        102.546     157.817  236.581
     OUT                                        105.535     161.841  255.231
     NOV                                        103.526     165.561  266.547
     DEZ                                        106.374     160.321  264.644

Empresa de Pesquisa Energética - EPE Distrito Federal
ano  mes
2022 MAI                                      161.466
     JUN                                      159.671
     JUL                                      148.005
     AGO                                      158.129
     SET                                      170.405
     OUT                                      178.226
     NOV                                      173.719
     DEZ                                      171.316
2023 JAN                                      163.882
     FEV                                      165.747
     MAR                                      174.415
     ABR                                      172.290
     MAI                                      161.071
     JUN                                      163.329
     JUL                                      156.604
     AGO                                      163.675
     SET                                      176.912
     OUT                                      187.050
     NOV                                      191.627
     DEZ                                      188.911

[20 rows x 27 columns]

### Verificandos os tipos das colunas do dataset

In [ ]:
df_residencial_processed.dtypes

Empresa de Pesquisa Energética - EPE
Rondônia               object
Acre                   object
Amazonas               object
Roraima                object
Pará                   object
Amapá                  object
Tocantins              object
Maranhão               object
Piauí                  object
Ceará                  object
Rio Grande do Norte    object
Paraíba                object
Pernambuco             object
Alagoas                object
Sergipe                object
Bahia                  object
Minas Gerais           object
Espírito Santo         object
Rio de Janeiro         object
São Paulo              object
Paraná                 object
Santa Catarina         object
Rio Grande do Sul      object
Mato Grosso do Sul     object
Mato Grosso            object
Goiás                  object
Distrito Federal       object
dtype: object

### Trocando os tipos dos dados para melhor compressão e compreensão do dataset

Os dados serão trocados para o tipo "unsigned integer" de 32 bits

In [ ]:
for coluna in df_residencial_processed.columns:
    df_residencial_processed[coluna] = [valor.replace(".", "") for valor in df_residencial_processed[coluna]]

/tmp/ipykernel_12865/1611594844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed[coluna] = [valor.replace(".", "") for valor in df_residencial_processed[coluna]]

In [ ]:
df_residencial_processed["Rondônia"] = df_residencial_processed["Rondônia"].astype("uint32")
df_residencial_processed["Acre"] = df_residencial_processed["Acre"].astype("uint32")
df_residencial_processed["Amazonas"] = df_residencial_processed["Amazonas"].astype("uint32")
df_residencial_processed["Roraima"] = df_residencial_processed["Roraima"].astype("uint32")
df_residencial_processed["Pará"] = df_residencial_processed["Pará"].astype("uint32")
df_residencial_processed["Amapá"] = df_residencial_processed["Amapá"].astype("uint32")
df_residencial_processed["Tocantins"] = df_residencial_processed["Tocantins"].astype("uint32")
df_residencial_processed["Maranhão"] = df_residencial_processed["Maranhão"].astype("uint32")
df_residencial_processed["Piauí"] = df_residencial_processed["Piauí"].astype("uint32")
df_residencial_processed["Ceará"] = df_residencial_processed["Ceará"].astype("uint32")
df_residencial_processed["Rio Grande do Norte"] = df_residencial_processed["Rio Grande do Norte"].astype("uint32")
df_residencial_processed["Paraíba"] = df_residencial_processed["Paraíba"].astype("uint32")
df_residencial_processed["Pernambuco"] = df_residencial_processed["Pernambuco"].astype("uint32")
df_residencial_processed["Alagoas"] = df_residencial_processed["Alagoas"].astype("uint32")
df_residencial_processed["Sergipe"] = df_residencial_processed["Sergipe"].astype("uint32")
df_residencial_processed["Bahia"] = df_residencial_processed["Bahia"].astype("uint32")
df_residencial_processed["Minas Gerais"] = df_residencial_processed["Minas Gerais"].astype("uint32")
df_residencial_processed["Espírito Santo"] = df_residencial_processed["Espírito Santo"].astype("uint32")
df_residencial_processed["Rio de Janeiro"] = df_residencial_processed["Rio de Janeiro"].astype("uint32")
df_residencial_processed["São Paulo"] = df_residencial_processed["São Paulo"].astype("uint32")
df_residencial_processed["Paraná"] = df_residencial_processed["Paraná"].astype("uint32")
df_residencial_processed["Santa Catarina"] = df_residencial_processed["Santa Catarina"].astype("uint32")
df_residencial_processed["Rio Grande do Sul"] = df_residencial_processed["Rio Grande do Sul"].astype("uint32")
df_residencial_processed["Mato Grosso do Sul"] = df_residencial_processed["Mato Grosso do Sul"].astype("uint32")
df_residencial_processed["Mato Grosso"] = df_residencial_processed["Mato Grosso"].astype("uint32")
df_residencial_processed["Goiás"] = df_residencial_processed["Goiás"].astype("uint32")
df_residencial_processed["Distrito Federal"] = df_residencial_processed["Distrito Federal"].astype("uint32")

/tmp/ipykernel_12865/3757876696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Rondônia"] = df_residencial_processed["Rondônia"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Acre"] = df_residencial_processed["Acre"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Amazonas"] = df_residencial_processed["Amazonas"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Roraima"] = df_residencial_processed["Roraima"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Pará"] = df_residencial_processed["Pará"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Amapá"] = df_residencial_processed["Amapá"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Tocantins"] = df_residencial_processed["Tocantins"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Maranhão"] = df_residencial_processed["Maranhão"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Piauí"] = df_residencial_processed["Piauí"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Ceará"] = df_residencial_processed["Ceará"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Rio Grande do Norte"] = df_residencial_processed["Rio Grande do Norte"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Paraíba"] = df_residencial_processed["Paraíba"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Pernambuco"] = df_residencial_processed["Pernambuco"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Alagoas"] = df_residencial_processed["Alagoas"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Sergipe"] = df_residencial_processed["Sergipe"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Bahia"] = df_residencial_processed["Bahia"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Minas Gerais"] = df_residencial_processed["Minas Gerais"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Espírito Santo"] = df_residencial_processed["Espírito Santo"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Rio de Janeiro"] = df_residencial_processed["Rio de Janeiro"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["São Paulo"] = df_residencial_processed["São Paulo"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Paraná"] = df_residencial_processed["Paraná"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Santa Catarina"] = df_residencial_processed["Santa Catarina"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Rio Grande do Sul"] = df_residencial_processed["Rio Grande do Sul"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Mato Grosso do Sul"] = df_residencial_processed["Mato Grosso do Sul"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Mato Grosso"] = df_residencial_processed["Mato Grosso"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Goiás"] = df_residencial_processed["Goiás"].astype("uint32")
/tmp/ipykernel_12865/3757876696.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residencial_processed["Distrito Federal"] = df_residencial_processed["Distrito Federal"].astype("uint32")

### Conferindo a troca de tipos

In [ ]:
df_residencial_processed.dtypes

Empresa de Pesquisa Energética - EPE
Rondônia               uint32
Acre                   uint32
Amazonas               uint32
Roraima                uint32
Pará                   uint32
Amapá                  uint32
Tocantins              uint32
Maranhão               uint32
Piauí                  uint32
Ceará                  uint32
Rio Grande do Norte    uint32
Paraíba                uint32
Pernambuco             uint32
Alagoas                uint32
Sergipe                uint32
Bahia                  uint32
Minas Gerais           uint32
Espírito Santo         uint32
Rio de Janeiro         uint32
São Paulo              uint32
Paraná                 uint32
Santa Catarina         uint32
Rio Grande do Sul      uint32
Mato Grosso do Sul     uint32
Mato Grosso            uint32
Goiás                  uint32
Distrito Federal       uint32
dtype: object

## Salvando os datasets tratados
### Eles serão salvos em .pkl (pickle)
Essa extensão criada pelos desenvolvedores da biblioteca pandas salva os metadados dos datasets enquanto comprime seu tamanho de arquivo

In [ ]:
df_residencial_processed.to_pickle(path = "./databases/processed/classes-consumoComercialPorUF.pkl")