# PETCA - Projeto de Análise de Contas de Energia com Aprendizado de Máquina e Redes Neurais

## Índice
- [Modelos Utilizados](#modelos-utilizados)
- [Importando Pacotes e Bibliotecas](#importando-os-pacotes-e-bibliotecas)
- [Importando os Datasets](#importando-os-datasets)
- [Análise Inicial dos Datasets](#análise-inicial-dos-datasets)
- [Análise Exploratória dos Dados](#aed)
- [Criando os Modelos](#criando-os-modelos)
- [Treinando os Modelos](#treinando-os-modelos)
- [Resultados os Modelos](#resultados-dos-modelos)
    - [Realização dos Testes](#testes)
    - [Qualidade dos Modelos](#qualidade-dos-testes-e-resultados)
- [Discussão](#discussão)

## Modelos Utilizados
- Árvore de Decisão (Decision Tree)
- Ensemble
- Floresta Randômica (Random Forest)
- Redes Neurais Convolucionais
- Regressão Linear
- Regressão Polinomial
- Support Vector Machine (SVM)

## Importando os pacotes e bibliotecas

In [1]:
# biblioteca para realizar o corte teste | treino
from sklearn.model_selection import train_test_split

# bibliotecas de classificacao
## Floresta Randomica;
## Arvore de Decisao; e
## Support Vector Machine (SVM).
from sklearn.ensemble  import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

# biblioteca de modelos polinomiais
from sklearn.preprocessing import PolynomialFeatures

# biblioteca de modelos lineares
## Regressao Linear; e
## Support Vector Machine (SVM).
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

# bibliotecas de suporte -----
## Impressao de Graficos
from matplotlib import pyplot as plt
import seaborn as sns

## Bibliotecas Base
import pandas as pd
import numpy as np
# ----------------------------

# bibliotecas e pacotes do TensorFlow
## Redes Neurais Convolucionais
import tensorflow as tf
from keras import layers, models

2024-07-29 14:11:39.126159: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-07-29 14:11:39.216674: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:10575] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-07-29 14:11:39.216741: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:479] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-07-29 14:11:39.220162: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1442] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-07-29 14:11:39.234809: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

## Importando os datasets

In [2]:
df_residencial_raw = pd.read_csv("./datasets_directory/raw/CONSUMO MENSAL DE ENERGIA ELÉTRICA POR CLASSE - CONSUMO COMERCIAL POR UF.csv", sep = ",", index_col = 0)

## Análise Inicial dos Datasets

### Consumo Residencial por UF

In [3]:
df_residencial_raw.sample(10)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
Empresa de Pesquisa Energética - EPE,,,,,,,,,,,,,,,,,,,,,
NaN,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roraima,6.141,5.822,5.494,6.035,5.548,5.472,5.876,5.820,5.652,5.980,...,26.157,26.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nota: atualização defasada para não antecipar informações de distribuidoras que devem obedecer às intruções da CVM sobre publicação de resultados.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amapá,12.164,3.894,8.639,8.461,7.704,8.309,8.733,7.858,8.850,9.621,...,25.339,26.448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistema SIMPLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso do Sul,51.890,52.518,51.766,55.175,49.652,44.157,42.928,49.557,51.954,53.788,...,112.134,109.172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pará,78.075,72.467,75.857,78.779,79.714,82.470,79.919,83.589,83.100,82.032,...,195.932,196.144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Sul,276.902,285.451,283.818,297.774,266.991,245.687,251.824,248.318,251.759,248.016,...,535.528,506.310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Piauí,25.398,20.769,20.862,24.450,22.877,24.519,22.937,22.760,25.997,25.217,...,76.114,75.892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso,64.699,65.905,74.538,77.146,68.100,61.587,66.190,62.202,69.190,72.326,...,164.770,161.940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Quantidade de valores nulos

In [7]:
df_residencial_transposto = df_residencial_raw.transpose()
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,Consumo de energia elétrica na rede (MWh),Sistema SIMPLES,NaN,NaN,NaN,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,...,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal,Nota: atualização defasada para não antecipar informações de distribuidoras que devem obedecer às intruções da CVM sobre publicação de resultados.
Unnamed: 251,NaN,NaN,NaN,NaN,NOV,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,NaN,NaN,FEV,4.147.275,23.367,7.329,50.457,5.822,...,594.478,1.421.228,269.481,178.963,285.451,52.518,65.905,90.106,81.618,NaN
Unnamed: 27,NaN,NaN,NaN,NaN,MAR,4.875.071,27.565,8.610,52.198,6.592,...,680.072,1.671.868,302.344,215.457,314.610,56.719,85.150,105.901,100.264,NaN
Unnamed: 11,NaN,NaN,NaN,NaN,NOV,4.233.169,26.816,8.377,55.504,6.798,...,561.987,1.438.769,258.330,158.351,260.870,51.412,72.518,97.629,92.111,NaN
Unnamed: 138,NaN,NaN,NaN,NaN,JUN,7.072.660,54.095,19.190,107.651,15.320,...,856.180,2.283.526,466.854,308.299,399.202,85.974,135.348,181.309,168.543,NaN
Unnamed: 55,NaN,NaN,NaN,NaN,JUL,4.790.579,30.505,9.889,65.219,7.759,...,596.532,1.611.166,309.173,189.171,297.558,47.529,82.702,128.568,108.544,NaN
Unnamed: 242,NaN,NaN,NaN,NaN,FEV,8.894.633,61.717,22.968,133.945,25.171,...,840.506,2.857.854,673.037,548.623,525.127,108.266,156.217,240.054,174.672,NaN
Unnamed: 50,NaN,NaN,NaN,NaN,FEV,5.190.004,29.522,9.875,60.120,7.910,...,673.068,1.775.224,332.511,233.906,342.402,56.212,83.459,137.484,110.121,NaN
Unnamed: 51,NaN,NaN,NaN,NaN,MAR,5.242.256,29.042,9.498,59.746,7.792,...,698.453,1.740.362,353.332,238.409,348.897,60.641,92.921,139.027,108.137,NaN
Unnamed: 236,NaN,NaN,NaN,NaN,AGO,7.678.935,65.204,24.295,148.584,26.455,...,725.866,2.353.777,568.289,378.298,397.035,98.169,152.378,219.637,163.675,NaN

In [8]:
columns_to_be_droped = [
    "Consumo de energia elétrica na rede (MWh)",
    "Sistema SIMPLES",
    "Nota: atualização defasada para não antecipar informações de distribuidoras que devem obedecer às intruções da CVM sobre publicação de resultados."
]

In [9]:
df_residencial_transposto.drop(columns = columns_to_be_droped, inplace = True, axis = "columns")
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,NaN,NaN,NaN,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 111,NaN,NaN,MAR,7.146.581,47.623,14.894,94.971,12.160,119.927,18.137,...,147.921,896.930,2.327.055,485.985,339.008,443.185,94.187,130.236,181.854,164.557
Unnamed: 181,NaN,2019,JAN,8.125.419,56.160,21.375,104.460,17.792,140.184,19.565,...,155.638,998.352,2.630.108,560.471,428.644,493.023,112.194,145.813,208.911,168.190
Unnamed: 153,NaN,NaN,SET,6.998.392,53.580,20.587,103.998,17.512,164.598,23.271,...,141.508,810.572,2.210.243,440.655,290.669,370.145,91.188,129.518,196.053,175.407
Unnamed: 142,NaN,NaN,OUT,7.630.771,59.172,21.257,131.610,18.868,166.817,24.534,...,155.198,923.789,2.467.949,498.364,302.702,396.329,107.715,146.160,214.120,186.216
Unnamed: 140,NaN,NaN,AGO,7.077.425,55.228,20.575,120.819,16.195,149.470,22.435,...,138.691,846.190,2.255.344,484.699,298.443,397.417,95.226,134.469,191.105,166.195
Unnamed: 161,NaN,NaN,MAI,7.248.489,56.429,23.137,105.584,17.166,158.212,21.649,...,139.315,945.006,2.265.399,449.758,303.304,386.408,94.338,141.552,193.258,168.709
Unnamed: 135,NaN,NaN,MAR,7.907.780,52.050,18.810,110.634,17.813,139.246,19.966,...,170.469,1.032.246,2.546.422,533.268,361.411,499.956,109.502,142.846,184.873,166.787
Unnamed: 104,NaN,NaN,AGO,6.303.157,55.764,16.380,102.290,11.844,129.641,18.226,...,124.770,787.420,2.003.427,426.382,269.386,381.650,80.760,112.079,159.762,155.833
Unnamed: 122,NaN,NaN,FEV,8.204.334,48.144,18.506,96.205,13.406,133.088,19.154,...,163.895,1.015.606,2.765.679,567.699,415.310,569.657,103.719,126.118,204.708,173.257
Unnamed: 182,NaN,NaN,FEV,8.209.493,55.380,19.788,104.135,17.042,135.183,19.099,...,163.971,930.608,2.664.088,586.916,435.692,501.161,121.933,159.859,220.296,175.615

## Renomeando colunas que não possuiam nomes

In [10]:
columns_to_rename = pd.Series(df_residencial_transposto.columns)
columns_to_rename = columns_to_rename.fillna("new_name" + (columns_to_rename.groupby(columns_to_rename.isnull()).cumcount() + 1).astype(str))
df_residencial_transposto.columns = columns_to_rename
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,new_name1,new_name2,new_name3,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 243,NaN,NaN,MAR,9.106.592,64.375,23.381,138.722,26.157,195.932,25.339,...,212.645,877.979,2.892.123,702.042,546.541,535.528,112.134,164.770,244.649,183.462
Unnamed: 26,NaN,NaN,FEV,4.825.670,26.797,8.356,54.535,6.574,78.813,9.225,...,101.644,668.450,1.678.502,307.495,210.572,320.206,56.506,79.748,104.766,102.933
Unnamed: 252,NaN,NaN,DEZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 202,NaN,NaN,OUT,7.353.303,64.926,22.943,115.984,20.317,173.892,20.264,...,139.594,799.266,2.348.592,507.255,340.208,328.834,105.762,153.439,216.108,167.197
Unnamed: 230,NaN,NaN,FEV,8.188.159,54.871,20.649,110.512,21.194,168.418,18.451,...,174.009,836.768,2.557.049,592.226,514.240,517.115,106.670,145.345,209.090,165.747
Unnamed: 224,NaN,NaN,AGO,7.308.252,62.511,22.869,135.581,23.444,193.527,23.411,...,141.382,690.904,2.262.362,530.176,370.186,382.543,103.458,145.534,212.732,158.129
Unnamed: 208,NaN,NaN,ABR,7.287.225,53.960,18.971,102.995,19.076,154.590,23.014,...,138.095,772.565,2.304.667,530.641,413.392,409.144,107.610,132.349,196.448,152.407
Unnamed: 228,NaN,NaN,DEZ,8.080.138,63.862,22.562,125.544,22.698,186.473,23.793,...,156.328,800.252,2.517.700,560.955,443.195,478.772,98.616,146.993,222.807,171.316
Unnamed: 62,NaN,NaN,FEV,5.442.517,34.332,10.278,60.694,8.154,92.923,12.526,...,115.401,719.104,1.806.503,366.386,249.700,356.982,61.417,94.417,142.782,121.616
Unnamed: 244,NaN,NaN,ABR,9.043.976,67.186,24.940,137.675,26.730,196.144,26.448,...,203.481,846.565,2.895.258,663.592,543.175,506.310,109.172,161.940,256.047,176.765

### Excluindo coluna insignificante

In [11]:
df_residencial_transposto.drop(columns = ["new_name1"], inplace = True, axis = "columns")
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE,new_name2,new_name3,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 237,NaN,SET,8.011.559,68.834,25.331,147.337,26.748,207.992,25.102,43.376,...,159.963,763.389,2.522.288,584.130,392.075,394.200,102.546,157.817,236.581,176.912
Unnamed: 236,NaN,AGO,7.678.935,65.204,24.295,148.584,26.455,206.946,30.217,41.552,...,156.953,725.866,2.353.777,568.289,378.298,397.035,98.169,152.378,219.637,163.675
Unnamed: 34,NaN,OUT,4.581.791,31.501,9.672,60.813,7.223,95.213,10.892,18.487,...,91.027,602.321,1.573.310,283.187,172.002,267.765,52.846,77.126,111.893,103.907
Unnamed: 252,NaN,DEZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 241,2024*,JAN,8.940.677,63.592,23.626,134.212,25.915,194.406,25.635,37.668,...,185.656,880.624,2.862.907,668.179,522.126,506.132,102.951,151.083,243.901,176.447
Unnamed: 239,NaN,NOV,8.639.110,69.317,25.277,140.994,26.314,218.560,27.976,43.095,...,187.424,829.114,2.740.502,606.413,415.012,420.461,103.526,165.561,266.547,191.627
Unnamed: 133,2015,JAN,8.076.143,49.773,17.116,110.962,16.134,135.566,22.483,30.867,...,172.805,1.057.677,2.628.729,528.079,377.284,518.489,108.390,127.068,196.842,175.056
Unnamed: 130,NaN,OUT,7.615.292,58.201,20.820,113.746,16.590,150.085,22.798,38.003,...,151.751,910.775,2.489.951,493.331,314.553,420.819,108.230,152.280,211.597,186.377
Unnamed: 38,NaN,FEV,4.923.943,29.491,9.600,56.946,6.964,85.592,9.613,16.817,...,104.789,639.105,1.684.709,324.016,222.782,331.045,57.020,83.144,110.439,106.451
Unnamed: 143,NaN,NOV,7.790.700,57.024,21.669,118.359,17.790,167.489,28.739,36.251,...,153.347,951.513,2.532.951,498.190,309.781,403.872,106.432,145.511,216.266,190.160

### Renomeando colunas "ano" e "mês"

In [12]:
columns_to_rename = {
    "new_name2" : "ano",
    "new_name3" : "mes"
}

df_residencial_transposto.rename(mapper = columns_to_rename, axis = "columns", inplace = True)
df_residencial_transposto.head(5)

Empresa de Pesquisa Energética - EPE,ano,mes,TOTAL POR UF,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
Unnamed: 1,2004,JAN,4.244.837,25.870,7.895,49.832,6.141,78.075,12.164,13.832,...,84.820,567.235,1.464.892,257.033,170.067,276.902,51.890,64.699,97.266,93.427
Unnamed: 2,NaN,FEV,4.147.275,23.367,7.329,50.457,5.822,72.467,3.894,12.160,...,83.917,594.478,1.421.228,269.481,178.963,285.451,52.518,65.905,90.106,81.618
Unnamed: 3,NaN,MAR,4.203.863,24.153,7.420,47.374,5.494,75.857,8.639,13.819,...,86.051,585.939,1.416.476,268.151,186.488,283.818,51.766,74.538,96.474,84.322
Unnamed: 4,NaN,ABR,4.447.075,24.113,7.345,49.875,6.035,78.779,8.461,14.883,...,83.633,600.339,1.579.356,275.652,170.145,297.774,55.175,77.146,102.078,94.761
Unnamed: 5,NaN,MAI,4.105.720,25.789,7.142,50.280,5.548,79.714,7.704,15.465,...,82.244,564.569,1.386.690,267.628,161.961,266.991,49.652,68.100,95.321,90.165

### Preenchendo a coluna "ano" com valores corretos do ano

In [13]:
df_residencial_transposto["ano"] = df_residencial_transposto["ano"].ffill()

## Transformando colunas importantes em Índice

In [14]:
df_residencial_transposto["ano"].unique()

array(['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2024*'], dtype=object)

In [15]:
df_residencial_transposto["mes"].unique()

array(['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET',
       'OUT', 'NOV', 'DEZ'], dtype=object)

In [16]:
df_residencial_transposto.columns

Index(['ano', 'mes', 'TOTAL POR UF', 'Rondônia', 'Acre', 'Amazonas', 'Roraima',
       'Pará', 'Amapá', 'Tocantins', 'Maranhão', 'Piauí', 'Ceará',
       'Rio Grande do Norte', 'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe',
       'Bahia', 'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro',
       'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype='object', name='Empresa de Pesquisa Energética - EPE')

In [17]:
df_residencial_transposto.reset_index(inplace = True)
df_residencial_transposto["ano"] = df_residencial_transposto["ano"].astype("str")
df_residencial_transposto["mes"] = df_residencial_transposto["mes"].astype("str")
df_residencial_transposto.set_index(["ano", "mes"], inplace = True)
df_residencial_transposto.drop(columns = ["index"], axis = "columns", inplace = True)

In [18]:
df_residencial_transposto.sample(10)

Empresa de Pesquisa Energética - EPE TOTAL POR UF Rondônia   Acre Amazonas  \
ano   mes
2004  JAN                               4.244.837   25.870  7.895   49.832
      FEV                               4.147.275   23.367  7.329   50.457
      MAR                               4.203.863   24.153  7.420   47.374
      ABR                               4.447.075   24.113  7.345   49.875
      MAI                               4.105.720   25.789  7.142   50.280
...                                           ...      ...    ...      ...
2024* AGO                                     NaN      NaN    NaN      NaN
      SET                                     NaN      NaN    NaN      NaN
      OUT                                     NaN      NaN    NaN      NaN
      NOV                                     NaN      NaN    NaN      NaN
      DEZ                                     NaN      NaN    NaN      NaN

Empresa de Pesquisa Energética - EPE Roraima    Pará   Amapá Tocantins  \
ano   mes
2004  JAN                              6.141  78.075  12.164    13.832
      FEV                              5.822  72.467   3.894    12.160
      MAR                              5.494  75.857   8.639    13.819
      ABR                              6.035  78.779   8.461    14.883
      MAI                              5.548  79.714   7.704    15.465
...                                      ...     ...     ...       ...
2024* AGO                                NaN     NaN     NaN       NaN
      SET                                NaN     NaN     NaN       NaN
      OUT                                NaN     NaN     NaN       NaN
      NOV                                NaN     NaN     NaN       NaN
      DEZ                                NaN     NaN     NaN       NaN

Empresa de Pesquisa Energética - EPE Maranhão   Piauí  ... Espírito Santo  \
ano   mes                                              ...
2004  JAN                              40.478  25.398  ...         84.820
      FEV                              37.893  20.769  ...         83.917
      MAR                              40.878  20.862  ...         86.051
      ABR                              40.503  24.450  ...         83.633
      MAI                              42.202  22.877  ...         82.244
...                                       ...     ...  ...            ...
2024* AGO                                 NaN     NaN  ...            NaN
      SET                                 NaN     NaN  ...            NaN
      OUT                                 NaN     NaN  ...            NaN
      NOV                                 NaN     NaN  ...            NaN
      DEZ                                 NaN     NaN  ...            NaN

Empresa de Pesquisa Energética - EPE Rio de Janeiro  São Paulo   Paraná  \
ano   mes
2004  JAN                                   567.235  1.464.892  257.033
      FEV                                   594.478  1.421.228  269.481
      MAR                                   585.939  1.416.476  268.151
      ABR                                   600.339  1.579.356  275.652
      MAI                                   564.569  1.386.690  267.628
...                                             ...        ...      ...
2024* AGO                                       NaN        NaN      NaN
      SET                                       NaN        NaN      NaN
      OUT                                       NaN        NaN      NaN
      NOV                                       NaN        NaN      NaN
      DEZ                                       NaN        NaN      NaN

Empresa de Pesquisa Energética - EPE Santa Catarina Rio Grande do Sul  \
ano   mes
2004  JAN                                   170.067           276.902
      FEV                                   178.963           285.451
      MAR                                   186.488           283.818
      ABR                                   170.145           297.774
      MAI                                   161.961           266.991
...                                             ...               ...
2024* AGO                                       NaN               NaN
      SET                                       NaN               NaN
      OUT                                       NaN               NaN
      NOV                                       NaN               NaN
      DEZ                                       NaN               NaN

Empresa de Pesquisa Energética - EPE Mato Grosso do Sul Mato Grosso    Goiás  \
ano   mes
2004  JAN                                        51.890      64.699   97.266
      FEV                                        52.518      65.905   90.106
      MAR                                        51.766      74.538   96.474
      ABR                                        55.175      77.146  102.078
      MAI                                        49.652      68.100   95.321
...                                                 ...         ...      ...
2024* AGO                                           NaN         NaN      NaN
      SET                                           NaN         NaN      NaN
      OUT                                           NaN         NaN      NaN
      NOV                                           NaN         NaN      NaN
      DEZ                                           NaN         NaN      NaN

Empresa de Pesquisa Energética - EPE Distrito Federal
ano   mes
2004  JAN                                      93.427
      FEV                                      81.618
      MAR                                      84.322
      ABR                                      94.761
      MAI                                      90.165
...                                               ...
2024* AGO                                         NaN
      SET                                         NaN
      OUT                                         NaN
      NOV                                         NaN
      DEZ                                         NaN

[252 rows x 28 columns]

### Deletando a linha NaN do índice

In [21]:
df_residencial_transposto.shape[0]

252

In [22]:
df_residencial_processed = df_residencial_transposto.iloc[ : df_residencial_transposto.shape[0] - 12, :]
df_residencial_processed.tail(20)

Empresa de Pesquisa Energética - EPE TOTAL POR UF Rondônia    Acre Amazonas  \
ano  mes
2022 MAI                                7.602.138   60.023  22.062   93.340
     JUN                                7.153.406   55.906  20.726  110.633
     JUL                                7.158.176   58.845  22.736  125.392
     AGO                                7.308.252   62.511  22.869  135.581
     SET                                7.393.353   63.313  22.775  134.471
     OUT                                7.482.200   63.402  23.731  132.866
     NOV                                7.738.008   60.625  22.916  130.245
     DEZ                                8.080.138   63.862  22.562  125.544
2023 JAN                                8.066.011   57.347  21.636  119.195
     FEV                                8.188.159   54.871  20.649  110.512
     MAR                                8.605.127   61.713  22.479  125.556
     ABR                                8.539.638   59.678  21.441  123.118
     MAI                                7.840.105   63.534  22.452  133.650
     JUN                                7.600.730   63.088  21.567  132.674
     JUL                                7.298.653   60.077  22.285  138.483
     AGO                                7.678.935   65.204  24.295  148.584
     SET                                8.011.559   68.834  25.331  147.337
     OUT                                8.425.599   67.340  25.390  146.305
     NOV                                8.639.110   69.317  25.277  140.994
     DEZ                                9.018.997   68.373  24.610  133.602

Empresa de Pesquisa Energética - EPE Roraima     Pará   Amapá Tocantins  \
ano  mes
2022 MAI                              20.905  179.501  21.565    39.406
     JUN                              20.277  182.373  22.355    39.379
     JUL                              20.642  184.979  22.587    39.051
     AGO                              23.444  193.527  23.411    40.429
     SET                              23.988  196.497  25.103    42.666
     OUT                              24.426  196.761  26.246    43.725
     NOV                              22.875  187.033  23.196    39.280
     DEZ                              22.698  186.473  23.793    37.600
2023 JAN                              22.579  176.755  21.309    34.738
     FEV                              21.194  168.418  18.451    35.098
     MAR                              24.873  194.433  22.387    39.935
     ABR                              23.108  184.017  22.833    37.873
     MAI                              23.453  189.880  23.913    40.181
     JUN                              22.501  197.274  25.023    41.039
     JUL                              22.241  198.387  25.092    40.260
     AGO                              26.455  206.946  30.217    41.552
     SET                              26.748  207.992  25.102    43.376
     OUT                              26.993  213.696  27.594    44.697
     NOV                              26.314  218.560  27.976    43.095
     DEZ                              24.974  206.848  27.175    43.730

Empresa de Pesquisa Energética - EPE Maranhão   Piauí  ... Espírito Santo  \
ano  mes                                               ...
2022 MAI                               95.508  70.954  ...        154.090
     JUN                               93.184  69.828  ...        137.109
     JUL                               93.368  70.545  ...        131.802
     AGO                              100.982  71.933  ...        141.382
     SET                              100.815  77.695  ...        136.535
     OUT                              101.912  78.215  ...        150.188
     NOV                               99.693  73.635  ...        152.476
     DEZ                              100.793  74.491  ...        156.328
2023 JAN                               93.891  68.590  ...        164.737
     FEV                               89.814  64.915  ...        174.009
     MAR                               97.012  71.124  ...        190.900
     ABR                               93.987  69.513  ...        174.060
     MAI                              104.726  74.618  ...        160.151
     JUN                              103.675  73.832  ...        150.047
     JUL                              105.214  74.616  ...        144.765
     AGO                              109.107  79.158  ...        156.953
     SET                              108.778  84.283  ...        159.963
     OUT                              113.651  85.288  ...        182.478
     NOV                              111.837  84.302  ...        187.424
     DEZ                              111.114  81.191  ...        202.354

Empresa de Pesquisa Energética - EPE Rio de Janeiro  São Paulo   Paraná  \
ano  mes
2022 MAI                                    766.995  2.399.989  507.105
     JUN                                    693.639  2.212.539  489.848
     JUL                                    686.866  2.216.133  514.591
     AGO                                    690.904  2.262.362  530.176
     SET                                    693.922  2.320.905  503.724
     OUT                                    707.229  2.258.145  510.297
     NOV                                    758.398  2.413.940  524.017
     DEZ                                    800.252  2.517.700  560.955
2023 JAN                                    792.826  2.548.374  577.695
     FEV                                    836.768  2.557.049  592.226
     MAR                                    888.839  2.632.175  632.260
     ABR                                    830.441  2.768.647  614.472
     MAI                                    760.788  2.429.180  538.762
     JUN                                    713.134  2.394.251  518.358
     JUL                                    686.824  2.255.060  524.302
     AGO                                    725.866  2.353.777  568.289
     SET                                    763.389  2.522.288  584.130
     OUT                                    775.665  2.668.137  609.710
     NOV                                    829.114  2.740.502  606.413
     DEZ                                    870.060  2.894.269  642.474

Empresa de Pesquisa Energética - EPE Santa Catarina Rio Grande do Sul  \
ano  mes
2022 MAI                                    388.556           383.942
     JUN                                    364.369           382.844
     JUL                                    364.095           387.416
     AGO                                    370.186           382.543
     SET                                    360.176           373.497
     OUT                                    370.528           367.925
     NOV                                    393.175           394.981
     DEZ                                    443.195           478.772
2023 JAN                                    463.513           486.490
     FEV                                    514.240           517.115
     MAR                                    526.341           501.375
     ABR                                    487.267           499.426
     MAI                                    428.656           412.823
     JUN                                    403.190           402.681
     JUL                                    378.578           394.152
     AGO                                    378.298           397.035
     SET                                    392.075           394.200
     OUT                                    421.339           393.991
     NOV                                    415.012           420.461
     DEZ                                    486.573           490.987

Empresa de Pesquisa Energética - EPE Mato Grosso do Sul Mato Grosso    Goiás  \
ano  mes
2022 MAI                                         92.063     152.498  234.778
     JUN                                         77.987     146.694  215.660
     JUL                                         90.823     146.942  210.970
     AGO                                        103.458     145.534  212.732
     SET                                        102.407     147.509  218.587
     OUT                                        116.710     148.559  231.036
     NOV                                        116.609     143.855  228.505
     DEZ                                         98.616     146.993  222.807
2023 JAN                                        101.008     136.436  208.186
     FEV                                        106.670     145.345  209.090
     MAR                                        113.722     166.660  224.222
     ABR                                        112.596     157.487  239.578
     MAI                                         88.351     151.251  222.093
     JUN                                         77.641     140.848  217.487
     JUL                                         75.776     137.558  206.186
     AGO                                         98.169     152.378  219.637
     SET                                        102.546     157.817  236.581
     OUT                                        105.535     161.841  255.231
     NOV                                        103.526     165.561  266.547
     DEZ                                        106.374     160.321  264.644

Empresa de Pesquisa Energética - EPE Distrito Federal
ano  mes
2022 MAI                                      161.466
     JUN                                      159.671
     JUL                                      148.005
     AGO                                      158.129
     SET                                      170.405
     OUT                                      178.226
     NOV                                      173.719
     DEZ                                      171.316
2023 JAN                                      163.882
     FEV                                      165.747
     MAR                                      174.415
     ABR                                      172.290
     MAI                                      161.071
     JUN                                      163.329
     JUL                                      156.604
     AGO                                      163.675
     SET                                      176.912
     OUT                                      187.050
     NOV                                      191.627
     DEZ                                      188.911

[20 rows x 28 columns]

## AED
### Análise Exploratória dos Dados

## Criando os Modelos

## Treinando os Modelos

## Resultados dos Modelos

### Testes

### Qualidade dos Testes e Resultados

## Discussão

A discussão vai aqui