# Algoritmo de Regressão Polinomial - LinearRegression e PolynomialFeatures

## Link para o notebook principal

[Ir para main.ipynb](./main.ipynb)

## Índice

- [Modelos Utilizados](#modelos-utilizados)
- [Importando Pacotes e Bibliotecas](#importando-os-pacotes-e-bibliotecas)
- [Importando os Datasets](#importando-os-datasets)
- [Análise Inicial dos Datasets](#análise-inicial-dos-datasets)
- [Análise Exploratória dos Dados](#aed)
- [Criando os Modelos](#criando-os-modelos)
- [Treinando os Modelos](#treinando-os-modelos)
- [Resultados os Modelos](#resultados-dos-modelos)
    - [Realização dos Testes](#testes)
    - [Qualidade dos Modelos](#qualidade-dos-testes-e-resultados)
- [Discussão](#discussão)

## Importando os pacotes e bibliotecas

In [1]:
# biblioteca para realizar o corte teste | treino
from sklearn.model_selection import train_test_split

# bibliotecas para a regressao
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

# Biblioteca auxiliar para calcular os scores
from sklearn.metrics import accuracy_score

## Impressao de Graficos
from matplotlib import pyplot as plt
import seaborn as sns

## Bibliotecas Base
import pandas as pd
import numpy as np

## Importando o dataset

In [2]:
df_residencial = pd.read_pickle("./databases/processed/classes-consumoComercialPorUF.pkl")

In [4]:
df_residencial = df_residencial.drop(columns = ["consumo"])
df_residencial = df_residencial.T
df_residencial.head(10)

Empresa de Pesquisa Energética - EPE  Rondônia  Acre  Amazonas  Roraima  \
ano  mes
2004 JAN                                 25870  7895     49832     6141
     FEV                                 23367  7329     50457     5822
     MAR                                 24153  7420     47374     5494
     ABR                                 24113  7345     49875     6035
     MAI                                 25789  7142     50280     5548
     JUN                                 24112  6955     50734     5472
     JUL                                 24312  7205     53678     5876
     AGO                                 25604  7580     52589     5820
     SET                                 25980  8309     55148     5652
     OUT                                 27250  7910     55374     5980

Empresa de Pesquisa Energética - EPE   Pará  Amapá  Tocantins  Maranhão  \
ano  mes
2004 JAN                              78075  12164      13832     40478
     FEV                              72467   3894      12160     37893
     MAR                              75857   8639      13819     40878
     ABR                              78779   8461      14883     40503
     MAI                              79714   7704      15465     42202
     JUN                              82470   8309      16111     42065
     JUL                              79919   8733      14775     41961
     AGO                              83589   7858      15815     43550
     SET                              83100   8850      17041     44972
     OUT                              82032   9621      16450     43339

Empresa de Pesquisa Energética - EPE  Piauí  Ceará  ...  Espírito Santo  \
ano  mes                                            ...
2004 JAN                              25398  95718  ...           84820
     FEV                              20769  86036  ...           83917
     MAR                              20862  90007  ...           86051
     ABR                              24450  97130  ...           83633
     MAI                              22877  90758  ...           82244
     JUN                              24519  93769  ...           75631
     JUL                              22937  87315  ...           75145
     AGO                              22760  92398  ...           75329
     SET                              25997  97622  ...           78583
     OUT                              25217  93272  ...           81687

Empresa de Pesquisa Energética - EPE  Rio de Janeiro  São Paulo  Paraná  \
ano  mes
2004 JAN                                      567235    1464892  257033
     FEV                                      594478    1421228  269481
     MAR                                      585939    1416476  268151
     ABR                                      600339    1579356  275652
     MAI                                      564569    1386690  267628
     JUN                                      506022    1280007  239079
     JUL                                      524985    1348602  238401
     AGO                                      503307    1324733  249298
     SET                                      537621    1430716  264561
     OUT                                      555512    1455419  255562

Empresa de Pesquisa Energética - EPE  Santa Catarina  Rio Grande do Sul  \
ano  mes
2004 JAN                                      170067             276902
     FEV                                      178963             285451
     MAR                                      186488             283818
     ABR                                      170145             297774
     MAI                                      161961             266991
     JUN                                      142886             245687
     JUL                                      146430             251824
     AGO                                      147906             248318
     SET                                      148465             251759
     OUT                                      153485             248016

Empresa de Pesquisa Energética - EPE  Mato Grosso do Sul  Mato Grosso   Goiás  \
ano  mes
2004 JAN                                           51890        64699   97266
     FEV                                           52518        65905   90106
     MAR                                           51766        74538   96474
     ABR                                           55175        77146  102078
     MAI                                           49652        68100   95321
     JUN                                           44157        61587   91441
     JUL                                           42928        66190   86788
     AGO                                           49557        62202   89515
     SET                                           51954        69190   97105
     OUT                                           53788        72326  101968

Empresa de Pesquisa Energética - EPE  Distrito Federal
ano  mes
2004 JAN                                         93427
     FEV                                         81618
     MAR                                         84322
     ABR                                         94761
     MAI                                         90165
     JUN                                         87778
     JUL                                         87198
     AGO                                         84814
     SET                                         98068
     OUT                                         97556

[10 rows x 27 columns]

#### Divisão dos labels / dados

In [5]:
df_nordeste = df_residencial.iloc[:, 8:16]
df_bahia = df_residencial["Bahia"]

In [6]:
df_bahia.sample(5)

ano   mes
2011  MAI    242290
2005  AGO    165508
2012  AGO    242372
2016  NOV    320423
2020  MAR    344345
Name: Bahia, dtype: uint32

In [7]:
df_nordeste.sample(10)

,Empresa de Pesquisa Energética - EPE,Piauí,Ceará,Rio Grande do Norte,Paraíba,Pernambuco,Alagoas,Sergipe,Bahia
ano,mes,,,,,,,,
2016,SET,67610,198138,90159,75342,232268,59111,47321,297955
2014,FEV,51685,182918,86007,78211,214210,65672,53503,293592
2015,MAI,58352,194434,93725,79062,254959,64638,50343,300189
2008,JUL,28640,115983,58168,41268,142335,34913,30321,189364
2018,JUL,61337,155822,84501,72381,223278,59028,47078,286842
2023,JAN,68590,200843,95605,85341,253438,80219,56078,343461
2006,AGO,29190,104915,53409,38515,129606,31082,25815,165985
2020,OUT,70103,195597,87959,74868,233029,65288,49423,301453
2008,AGO,30387,117259,59149,43430,136408,35799,30921,187704
2018,MAI,64818,165384,92465,78053,246375,62938,52676,315490

##### Dataset completo

##### Agrupando cada região separadamente

In [ ]:
df_norte = df_residencial.iloc[0:7, :]
df_nordeste = df_residencial.iloc[8:16, :]
df_centro_oeste = df_residencial.iloc[21:23, :]
df_sudeste = df_residencial.iloc[17:20, :]
df_sul = df_residencial.iloc[24:, :]

In [ ]:
X_norte = df_norte.drop(columns = ["consumo"])
y_norte = df_norte["consumo"]

X_nordeste = df_nordeste.drop(columns = ["consumo"])
y_nordeste = df_nordeste["consumo"]

X_centro_oeste = df_centro_oeste.drop(columns = ["consumo"])
y_centro_oeste = df_centro_oeste["consumo"]

X_sudeste = df_sudeste.drop(columns = ["consumo"])
y_sudeste = df_sudeste["consumo"]

X_sul = df_sul.drop(columns = ["consumo"])
y_sul = df_sul["consumo"]